*{box-sizing: border-box;
margin: 20;
position: 40px, 20px;
background-color: rgb(245,213,144);}
.headline{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-gap: 20px;
    position: relative;
    margin: 20px;
}
.menu
{
    text-decoration: none;
    display: grid;
    font-size: 14;
    color: rgb(138,85,65);
    justify-content: center;
}
.menu :hover
{
    color: black;
}
.recipe
{
    position: relative;
    width: 90%;
    left: 5%;
    display: grid;
    grid-template-columns: 30% 20% 30% 10% 10%;
    font-size: 14;
    color: rgb(138,85,65);
    border: 1px solid white;
}
.col
{
    justify-content: center;
    align-content: center;
}
a
{
    text-decoration: none;
}
a :hover
{
    color: black;
}
.recipe_info
{
    display: flex;
    flex-direction: row;
    font-size: 12;
    color: rgb(138,85,65);
    justify-content: left;
}
img
{
    display:block;
    height: 200px;
    width: 200px;
    align-self: center;
    margin: 5px;
}
.ingridients
{
    margin: 5px;
}
.short
{
    display:flex;
    flex-direction: column;
    margin: 5px;
}
.pipeline
{
    position: relative;
    font-size: 12;
    color: rgb(138,85,65);
    justify-content: left;    
    margin: 5px;
}
h1
{
    text-align: center;
    font-size: 18;
    color: rgb(138,85,65);
}
.action
{
    display: grid;
    grid-template-columns: 80px 80px;
    font-size: 14;
    color: rgb(138,85,65);
    text-align: center;
}
.post
{
    display: grid;
    position: relative;
    left: 5%;
    grid-template-rows: 30px 100px;
    width: 600px;
    border: 3px solid white;
    border-right: 3px solid white;
    color: black;
    font-size: 10;
    justify-content: left;
}
.post_head
{
    display: grid;
    grid-template-columns: 100px 500px;
    border: 1px solid white;
    border-right: 3px solid white;
}
.post_text
{
    border-right: 3px solid white;
}
.form_comment
{
    left: 10%;
    margin: 2px;
    color: black;
    font-size: 10;
    justify-content: left;
}
.form_search
{
    display: grid;
    grid-template-columns: 30% 70%;
    font-size: 12;
    color: rgb(138,85,65);
    justify-content: left;
}

.key_word_search
{
    display: grid;
    grid-template-rows: 50% 50%;
}
.form_recipe
{
    display: grid;
    grid-template-columns: 250px 300px;
    grid-gap: 10px;
    margin: 30px;
}
input
{
    background-color: white;
}
textarea
{
    background-color: white;
}
button
{
    font: 14px;
    background-color: white;
    border-color: grey;
}
.recipes
{
    position: 20px, 20px;
    justify-content: center;
}