<!DOCTYPE html>
<html lang="by">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Дадаць рацэпт </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <div class="headline">
            <div> 
                <a href="{{ url_for('all') }}" class="menu"> Усе рацэпты </a>
            </div>
            <div>
                <a href="{{ url_for('search') }}" class="menu"> Пошук рацэпта</a>
            </div>
            <div>
                <a href="{{ url_for('add') }}" class="menu"> Дадаць рацэпт</a> 
            </div>
            <div>
                 <a href="{{ url_for('index') }}" class="menu"> На галоўную </a>
            </div>
        </div>
        <h1> Дадаць рацэпт </h1>
        <form method="post" enctype="multipart/form-data">
            {{form.csrf_token}}
            {% for field in form %}
                {% if not("Дадаць" in field.label()) %}
                    {% if not ("CSRF Token" in field.label())%}
                        <div class="form_recipe">
                            <div> {{field.label()}}  </div>
                            <div> {{field}} </div>
                        </div>
                    {% endif%}
                {% endif %}
            {% endfor %}
            <div class="form_recipe"><div>{{form.submit}}</div>
            <div></div></div>
        </form>
    </body>
</html>