<!DOCTYPE html>
<html lang="by">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Змяніць рацэпт </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <div class="headline">
            <div> 
                <a href="all.html" class="menu"> Усе рацэпты </a>
            </div>
            <div>
                <a href="search.html" class="menu"> Пошук рацэпта</a>
            </div>
            <div>
                <a href="add.html" class="menu"> Дадаць рацэпт</a> 
            </div>
            <div>
                 <a href="index.html" class="menu"> На галоўную </a>
            </div>
        </div>
        <h1> Змяніць рацэпт </h1>
        {{% for field in form %}}
        <div class="form_recipe">
            {{field.label()}}
            {{field}}
        </div>
        {{% endfor %}}
    </body>
</html>