<!DOCTYPE html>
<html lang="by">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Пошук рацэпта </title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles.css') }}">
    </head>
    <body>
        <div class="headline">
            <div> 
                <a href="{{ url_for('all') }}" class="menu"> Усе рацэпты </a>
            </div>
            <div>
                <a href="{{ url_for('search') }}" class="menu"> Пошук рацэпта</a>
            </div>
            <div>
                <a href="{{ url_for('add') }}" class="menu"> Дадаць рацэпт</a> 
            </div>
            <div>
                 <a href="{{ url_for('index') }}" class="menu"> На галоўную </a>
            </div>
        </div>
        <h1> Пошук рацэпта </h1>
        <form method="post" enctype="multipart/form-data">
            <div class="form_search">
                <div class="select">
                    {{form.Category.label()}}<br>
                    {{form.Category}}
                </div> 
                <div class="key_word_search">
                    {{form.csrf_token}}
                    <div> 
                        {{ form.name.label() }}
                        {{ form.name}}
                    </div> 
                    <div>
                        {{ form.Ingridients.label() }}
                        {{ form.Ingridients}}
                    </div>
                </div>
                {{form.submit}}
            </div>
        </form> 
    </body>
</html>