<!DOCTYPE html>
<html lang="by">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> Кніга рацептаў </title>
        <link rel="stylesheet", href="./css/styles.css">
    </head>
    <body>
        <div class="headline">
            <div> 
                <a href="all.html" class="menu"> Усе рацэпты </a>
            </div>
            <div>
                <a href="search.html" class="menu"> Пошук рацэпта</a>
            </div>
            <div>
                <a href="add.html" class="menu"> Дадаць рацэпт</a> 
            </div>
            <div>
                 <a href="index.html" class="menu"> На галоўную </a>
            </div>
        </div>
        <div class="invite"> Кніга рацептаў </div>
    </body>
</html>
            